
  #searchbar{
    align-items: center;
    justify-items: center;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 15px;
    margin: 0 auto;
    width: 230px;
  }

  #searchbar input{
    grid-column: 1/5;
  }

  #searchbar button{
    background-color: rgb(216, 233, 168);
    border: none;
    grid-column: 5/6;
    text-decoration: none;
    font-weight: bold;
    color: rgb(78, 159, 61);
  }

  #searchbar-advanced{
    display: none;
    width: 230px;
    position: relative;
    bottom: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    background-color:rgb(78, 159, 61);
    color:rgb(216, 233, 168);
    border-top: solid 1px rgb(25, 26, 25);
    padding: 8px;
    z-index: 1;
  }