#main-heading{
  text-align: center;
}

#main-content{
  display: grid;
}

#form-customer{
  justify-self: center;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10px;
  row-gap: 10px;
}

.form-column{
  display: grid;
  grid-template-columns: 100px 400px;
  grid-gap: 10px;
}

.form-column label{
  grid-column: 1/2;
}

.form-column p{
  grid-column: 2/3;
}

.form-column div{
  grid-column: 2/3;
  grid-row: 2/3;
}

.error{
  color: red;
}

.noError{
  color:green; 
}

label{
  font-weight: bold;
  grid-column: 1/2;
  justify-self: end;
}

input{
border-radius: 3px;
color: rgb(216, 233, 168);
background-color: rgb(78, 159, 61);
border: 1px solid rgb(216, 233, 168);
font-size: 20px;
}

textarea{
color: rgb(216, 233, 168);
background-color: rgb(78, 159, 61);
border: 1px solid rgb(216, 233,168);
border-radius: 3px;
font-size: 20px;
resize: none;
}

#form-customer button{
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: end;
  color:  rgb(216, 233, 168);
  font-weight: bold;
  background-color:rgb(78, 159, 61);
  width: 150px;
}

